<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Componentes Botões</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h3>Exemplos de botões no Ionic</h3>
  <ion-button>Padrão</ion-button>
  <ion-button href="#">Âncora</ion-button>
  <ion-button (click)='exemplo()'>Evento</ion-button>
  <h3>Botão com Tema</h3>
  <ion-button color='danger'>Danger</ion-button>
  <h3>Outros temas disponíveis</h3>
  <ion-button color='primary'>primary</ion-button>
  <ion-button color='secondary'>secondary</ion-button>
  <ion-button color='tertiary'>tertiary</ion-button>
  <ion-button color='success'>success</ion-button>
  <ion-button color='warning'>warning</ion-button>
  <ion-button color='danger'>danger</ion-button>
  <ion-button color='dark'>dark</ion-button>
  <ion-button color='medium'>medium</ion-button>
  <ion-button color='light'>Light</ion-button>
  <h3>Outros formatos</h3>
  <ion-button expand='full'>Expand Full</ion-button>
  <ion-button expand='block'>Expand Block</ion-button>
  <ion-button fill='outline'>Outline Fill</ion-button>
  <h3>Botão com ícone</h3>
  <ion-button>
    <ion-icon slot='start' name='star'></ion-icon>
    Ícone a esquerda  
  </ion-button>
  <h3>Botões com tamanho</h3>
  <ion-button size='samall'>Small</ion-button>
  
</ion-content>